@use "variables" as vars;

.favorite-btn {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;

    width: 2rem;
    height: 2rem;
    border-radius: 100px;

    color: red;
    background: transparent;
    border: 1px solid transparent;

    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    &:hover {
        background: vars.$rose-100;
    }
}

.country-name {
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    color: vars.$black;
    margin-bottom: 0.5rem;
}

.country-flag {
    display: block;
    margin: 0.5rem auto;
    height: 6rem;
    border-radius: 6px;
    border: 1px solid vars.$grey;
}

.country-details {
    overflow: hidden;
    max-height: 0;
    opacity: 0;

    transition:
        max-height 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
        
    p {
        margin: 0.25rem 0;
        font-size: 0.875rem;
        color: vars.$black;
    }

    a {
        color: vars.$blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
